<div class="parallax">
  <div class="row">
    <div class="column contentContact">
      <div>
        <img src="../assets/logo.png" class="logoAviva" />
      </div>

      <!--EMAIL-->
      <a
        href="mailto:avivaigreja18@gmail.com"
        role="tab"
        aria-controls="settings"
      >
        <button type="button" class="btn btn-light">
          <img src="../assets/mail.png" width="30px" height="30px" />
          <strong>E-mail</strong></button
        ><br />
      </a>

      <!--YOUTUBE-->
      <a
        href="https://www.youtube.com/c/rochachurchcampinas"
        role="tab"
        aria-controls="settings"
      >
        <button type="button" class="btn btn-light">
          <img src="../assets/youtube.png" width="30px" height="30px" />
          <strong>YouTube</strong></button
        ><br />
      </a>

      <!--FACEBOOK-->
      <a
        href="https://www.facebook.com/RochaChurchCampinas"
        role="tab"
        aria-controls="settings"
      >
        <button type="button" class="btn btn-light">
          <img src="../assets/facebook.png" width="27px" height="27px" />
          <strong>Facebook</strong></button
        ><br />
      </a>
    </div>
  </div>
</div>
