<div class="all">
  <div class="container">
    <div class="logoRocha">
      <img src="../assets/Perfil_Instagram.png" alt="logo rocha campinas" />
    </div>
    <div class="titleRocha">
      <img
        src="../assets/Logo_Rocha_Campinas-Branco.png"
        alt="titulo rocha campinas"
      />
    </div>

    <div class="main">
      <section>
        <a href="" target="_blank">
          <div class="link">Youtube</div>
        </a>
        <a href="" target="_blank">
          <div class="link">Como chegar</div>
        </a>
        <a href="" target="_blank">
          <div class="link">Horários dos Cultos</div>
        </a>
        <a href="" target="_blank">
          <div class="link">Aconcelhamento Pastoral</div>
        </a>
      </section>
    </div>
  </div>
</div>
